p.one {
  border-style: solid;
  border-width: 5px;
  border-color: red green blue yellow;
}

p.two {
  border-style: solid;
  border-width: medium;
  border-color: red ;
}

p.three {
  border-style: dotted;
  border-width: 2px;
  border-color:  green;
}

p.four {
  border-style: dotted;
  border-width: thick;
  border-color: blue;
}

p.five {
  border-style: double;
  border-width: 15px;
  border-color:yellow;
}

p.six {
  border-style: double;
  border-width: thick;
  border-bottom: 6px solid red;
  border-radius: 5px;
}